<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{margin: 0; padding: 0; box-sizing: border-box;}
        .main_div{width: 100vw; height: 100vh; background-image: url('./5590822.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; display: grid; justify-content: center; align-items: center;}
        .main_div .quote_div{width: 500px; height:300px; border: 2px solid white; background-color: white; box-shadow: rgba(0,0,0,0.1); border-radius: 20px;text-align: center; padding-left: 3rem; padding-right: 3rem; padding-top: 3rem; padding-bottom: 3rem;}
        .btn{background-color:#f3c146; border-radius: 20px; outline: none; border: navajowhite; width: 100px; height: 30px; color: white; font-weight: 900;margin-top: 4rem;cursor: pointer;}    
        .quote-head{font-size: medium; font-weight: 700;}
    </style>
</head>
<body>
    <div class="main_div">
        <div class="quote_div">
            <h3 class="quote-head">Hello Welcome to Quote Website Hello Welcome to Quote Website Hello Welcome to Quote Website Hello Welcome to Quote Website Hello Welcome to Quote Website Hello Welcome to Quote Website Hello Welcome to Quote Website  Hello Welcome to Quote Website </h3>
            <button class=btn>Next</button>
        </div>
    </div>
</body>
</html>